body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    
}
.content{
    position: absolute;
    top: 0;
    text-align: center;
}
h1{
    font-size: 3rem;
}
button{
    background-color: #F7F7F7;
    padding: 1rem;
    border: 2px solid lightgrey;
    border-radius: 15px;
    cursor: pointer;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 700px; 
    height: 500px;
    background-color: lightgrey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid lightgrey;
    border-radius: 30px;
    gap: 2px;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    height: 100%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}
.form > button{
    background-color: #F7F7F7;
    width: 200px;
    height: 50px;
    border: 1px solid lightgrey;
    cursor: pointer;
    font-size: 1rem;
}
button:hover{
    background-color: lightgrey;
    transition: 0.3s;
}
.form > input{
    border: 1px solid lightgrey;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
}
.container{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    box-shadow: 3px 3px lightgrey;
}
.gridItem{
    background-color: #F7F7F7;
    font-size: 9rem;
    text-align: center;
    cursor: pointer;
}