body{
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    box-shadow: 2px 2px;
}
.gridItem{
    background-color: #F7F7F7;
    font-size: 9rem;
    text-align: center;
}